@import "./reset.scss";
@import "./variable.scss";
body {
  background-repeat: no-repeat;
  background-position: center 15px;
  user-select: none; //禁用文字选中
  background-color: #282a30;
}
.app-container__head {
  width: 100%;
  height: 35px;
  -webkit-app-region: drag;
  color: #fff;
  padding-left: 80px;
  box-sizing: border-box;
}
.app-container__main {
  width: 100%;
  height: calc(100vh - 35px);
}
.app-container__empty {
  width: 40%;
  height: calc(100vh - 35px);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 50px;

  &-title {
    width: 100%;
    &-logo {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &-img {
        margin-right: 10px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
      }
    }
    &-text {
      margin: 20px 0 0 10px;
      width: 100%;
    }

    h1 {
      font-size: 24px;
      font-weight: 600;
      color: #c5c5c5;
    }
    p {
      font-size: 14px;
      color: #c5c5c5;
      margin-top: 10px;
      line-height: 22px;
    }
  }
  &-button {
    display: flex;
    align-items: center;
    margin-top: 10%;
    width: 100%;
  }
}

img {
  -webkit-user-drag: none; 
}
/* Set the scroll bar style */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #282a30;
  display: none;
}

/* Set the slider style */
::-webkit-scrollbar-thumb {
  background-color: #282a30;
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  display: none;
}
.SvgIcon25 {
  width: 25px;
  height: 25px;
}
